<div class="flex justify-between w-screen mx-0 pl-0">

  <div class="profile-box shadow-sm h-screen flex flex-col content-center font-sans w-1/6 bg-gray-100">
    <div class="flex flex-col m-auto">
      <div class="py-4">
        <%= image_tag "https://i.pinimg.com/564x/51/07/75/510775920002ed607ff0a5582932214a.jpg", class: "w-24 h-24 rounded-full border-gray-400" %>
      </div class="">
      <div class="text-base font-bold text-gray-600 text-center py-4">Ketchum</div>
      <div class="text-base font-bold text-gray-600 text-center pt-6">$ 6669.30</div>
      <div class=" text-sm text-gray-400 text-center">BALANCE</div>
      <div class="text-base font-bold text-gray-600 text-center pt-6"><%= Item.all.length%></div>
      <div class="text-sm text-gray-400 text-center">ITEM</div>
      <div class="text-base font-bold text-gray-600 text-center pt-6">2</div>
      <div class="text-sm text-gray-400 text-center">transaction</div>
    </div>

  </div>

  <div class="show-box w-5/6 pl-4">
    <div class="items mt-4 mx-4">
      <div class=" flex justify-between">
        <div class="text-gray-500 font-bold text-xl mx-4">Collections</div>
        <div class="add-btn text-green-500 font-bold texl-2xl"><%= link_to "+ new collection", new_collection_path, style:"text-decoration: none; color: inherit;"%></div>
      </div>

      <%# cards %>
      <div class="list-cards grid grid-cols-4 gap-4 p-10">

        <% Collection.all.each do |collection| %>
          <div class="grid">
            <%= link_to collection_path(collection) do%>
              <div class="list-card relative flex align-between justify-self-center bg-gradient-to-br from-green-400 to-green-500 hover:bg-green-700 w-52 h-52 rounded-3xl">
                <div class="absolute  inset-x-0 bottom-2 px-4">
                  <p class="list-id m-3 text-3xl font-sans text-gray-200">#</p>
                  <p class="m-3 font-sans text-gray-200 text-xl font-extralight"><%=collection.name %></p>
                </div>
                <div class="font-sans text-gray-200 text-xl font-thin object-right absolute top-4 right-5">
                  <%= link_to 'x', collection_path(collection), method: :delete %>
                </div>
                <div class="edit-btn absolute top-4 left-5">
                  <%= link_to edit_collection_path(collection) do %>
                    <i class="far fa-edit text-gray-200"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

    <%# transaction history %>
    <div class="transactions flex flex-col w-full">
      <div class="text-gray-500 font-bold text-xl mx-4">Transaction History</div>
      <div class="table font-sans p-4 text-center rounded-xl border-green-500 border-solid w-11/12">
        <div class="table-name grid grid-cols-5 gap-4 mx-4 mt-4 font-bold text-base text-green-500">
          <div>Item ID</div>
          <div>FROM</div>
          <div>TO</div>
          <div>Price</div>
          <div>Time</div>
        </div>

        <div class="table-info grid grid-cols-5 gap-4 mx-4 mt-4 font-medium text-sm text-gray-500 bg-gray-100">
          <div>item_id</div>
          <div>user_id</div>
          <div>buyer_id</div>
          <div>price</div>
          <div>created_at time</div>
        </div>

        <div class="table-info grid grid-cols-5 gap-4 mx-4 mt-4 font-medium text-sm text-gray-500 bg-gray-100">
          <div>item_id</div>
          <div>user_id</div>
          <div>buyer_id</div>
          <div>price</div>
          <div>created_at time</div>
        </div>


      </div>
    </div>
  </div>

</div>
