<div class="flex justify-between w-screen mx-0 pl-0">

  <div class="profile-box shadow-sm h-screen flex flex-col content-center font-sans w-1/6 bg-gray-100">
    <div class="flex flex-col m-auto">
      <div class="pb-4 self-center">
        <%= image_tag "https://i.pinimg.com/564x/51/07/75/510775920002ed607ff0a5582932214a.jpg", class: "w-24 h-24 rounded-full border-gray-400" %>
      </div class="">
      <div class="text-base font-medium text-gray-600 text-center pb-4"><%= current_user.email %></div>

      <div class="text-base font-bold text-gray-600 text-center pt-6">
      <% @counter = 0 %>
        <% @items.each do |item| %>
          <% @counter += 1 if User.find(Collection.find(item.collection_id).user_id) == current_user %>
        <% end %>
        <%= @counter %>
      </div>
      <div class="text-sm text-gray-400 text-center pb-6">ITEMS</div>
      <div class="text-base font-bold text-gray-600 text-center pt-6">
        <% @transaction_counter = 0 %>
        <% @transactions.each do |transaction| %>
          <% @transaction_counter += 1 if current_user == User.find(transaction.seller_id) || current_user == User.find(transaction.buyer_id) %>
        <% end %>
        <%= @transaction_counter %>
      </div>
      <div class="text-sm text-gray-400 text-center pb-6">TRANSACTIONS</div>

      <% if current_user.balance.nil? %>
        <div class="pt-8">
        <%= link_to "Airdrop", balances_path, method: :post, class: "bg-green-500 hover:bg-green-700 rounded-xl shadow-xl font-medium text-white px-4 py-2" %>
        </div>
      <% else  %>
        <div class="text-base font-bold text-gray-600 text-center pt-6 mb-1">
        <i class="fab fa-ethereum text-gray-500"></i>
        <%= current_user.balance.amount %>
        </div>
        <div class=" text-sm text-gray-400 text-center mb-1">BALANCE</div>
        <%= link_to "Top Up", edit_balance_path(current_user.balance.id), class: "bg-gray-400 hover:bg-gray-500 text-sm rounded-xl shadow-xl font-medium text-center text-white px-3 py-1", style:"text-decoration: none;"%>
      <% end %>

    </div>

  </div>

  <div class="show-box w-5/6 pl-4">
    <div class="collections m-4">
      <div class=" flex justify-between">
        <div class="text-gray-500 font-bold text-xl mx-4">Collections</div>
        <div class="add-btn text-green-500 font-bold texl-2xl"><%= link_to "+ new collection", new_collection_path, style:"text-decoration: none; color: inherit;"%></div>
      </div>

      <%# cards %>
      <div class="list-cards grid grid-cols-4 gap-4 p-10">

        <% current_user.collections.each do |collection| %>
          <div class="grid">
            <%= link_to collection_path(collection) do%>
              <div class="list-card relative flex align-between justify-self-center bg-gradient-to-br from-green-400 to-green-500 hover:bg-green-700 w-52 h-52 rounded-3xl">
                <div class="absolute  inset-x-0 bottom-2 px-4">
                  <p class="list-id m-3 text-3xl font-sans text-gray-200">#</p>
                  <p class="m-3 font-sans text-gray-200 text-xl font-extralight"><%=collection.name %></p>
                </div>
                <div class="font-sans text-gray-200 text-xl font-thin object-right absolute top-4 right-5">
                  <%= link_to 'x', collection_path(collection), method: :delete %>
                </div>
                <div class="edit-btn absolute top-4 left-5">
                  <%= link_to edit_collection_path(collection) do %>
                    <i class="far fa-edit text-gray-200"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

    <%# transaction history %>

    <div class="transactions flex flex-col w-full m-4">
      <div class="text-gray-500 font-bold text-xl mx-4">User Transaction History</div>

      <div class="table font-sans p-4 text-center rounded-xl border-green-500 border-solid w-11/12">
        <div class="table-name grid grid-cols-5 gap-4 mx-4 mt-4 font-bold text-base text-green-500">
          <div>Item ID</div>
          <div>FROM</div>
          <div>TO</div>
          <div>Price</div>
          <div>Time</div>
        </div>

      <% @transactions.each do |transaction| %>
        <% if current_user == User.find(transaction.seller_id) || current_user == User.find(transaction.buyer_id) %>
            <div class="table-info grid grid-cols-5 gap-4 mx-4 mt-4 font-medium text-sm text-gray-500 bg-gray-100">
              <div><%= @item = Item.find(transaction.item.id).name %></div>
              <div><%= @email = User.find(transaction.seller_id).email %></div>
              <div><%= @email = User.find(transaction.buyer_id).email %></div>
              <div><%= transaction.item.price %></div>
              <div><%= transaction.created_at %></div>
            </div>
        <% else %>
            <div>
            </div>
        <% end %>
      <% end %>



      </div>
    </div>
  </div>

</div>



<h1><%= link_to "Give me some airdrops(update)", balances_path, method: :post %></h1>
