<div>
  <div class="navbar flex justify-between shadow-sm mb-2r">
  <div class="logo">
    <img src="<%= image_path("logo.png") %>" alt="logo" class="w-48">
  </div>

  <div class="navbar-content flex m-1 content-center">
    <% if user_signed_in? %>
      <div class="flex items-center"><%= link_to "Home", root_path, class: "font-sans px-2", style:"text-decoration: none; color: inherit;"%></div>
      <div class="flex items-center"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "font-sans px-2", style:"text-decoration: none; color: inherit;" %></div>
      <div class="px-2">
        <%= link_to collections_path do %>
        <%= image_tag "https://i.pinimg.com/564x/51/07/75/510775920002ed607ff0a5582932214a.jpg", class: "w-8 h-8 rounded-full border-gray-400" %>
        <% end %>
      </div>

    <% else %>
      <div><%= link_to "Login", new_user_session_path, class: "nav-link" %></div>
    <% end %>
  </div>

</div>

</div>
